<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@grvsmth" />
        <meta property="og:title" content="Contagion"></meta>
        <meta property="og:description" content="A dashboard for tracking infectious disease data." />
        <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title>Contagion</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Infectious disease dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card=title">Hospitalizations in NYC</h5>
                            <p class="card-text">
                                Most recent 7-day average:
                                <span id="nyc-hosp-7day"></span>
                            </p>
                            <p class="card-text">
                                Most recent complete 7-day average:
                                <span id="nyc-hosp-7day-complete"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">Second card</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script type="module" src="static/js/main.js"></script>
</html>
